PHALA_CLOUD_API_KEY=

PHALA_COMPOSE_ENV_FILE_PATH=./.env-compose
PHALA_CVM_NAME=

PHALA_VCPU=4
PHALA_MEMORY=4096
PHALA_DISK_SIZE=10

# Need in replicate and upgrade
PHALA_MAIN_CVM_ID=
PHALA_REPLICA_CVM_ID=
